
.result-container {
  margin-top: 20px;
  text-align: center;
}


.short-url {
  display: inline-block;
  padding: 10px 16px;
  background: #28a745;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.short-url:hover {
  background: #218838;
  text-decoration: underline;
}
